<!DOCTYPE html>
<html>
    <head>
        <link rel = 'stylesheet' href = '/static/style.css'>
    </head>
    <body>
        <h2>The Method Values</h2>
        <p>This form will be submitted using the POST method</p>

            <form action="/submit" target="_blank" method = "post">
                <label for = 'physics'>Physics</label>
                <input type = 'text' id = 'physics' name = 'physics' value = '0'> <br>

                <label for = 'chemistry'>Chemistry</label>
                <input type = 'text' id = 'chemistry' name = 'chemistry' value = '0'> <br>

                <label for = 'maths'>Maths</label>
                <input type = 'text' id = 'maths' name = 'maths' value = '0'> <br>

                <input type="submit" value="Submit">
            </form> 

    </body>
</html>